<div class="container-main">
  <%= link_to 'Create Recipe', new_recipe_path, class: "btn-general"  %>
  <div class="cards-list">
    <% @recipes.each do |recipe| %>
      <%= render "recipes/recipe_card", recipe: recipe, public:false %>
    <% end %>
  </div>
</div>